<footer class="mt-8 bg-gray-200 dark:bg-gray-900 py-8 flex-shrink-0">
  <div class="max-w-screen-sm md:max-w-screen-md mx-auto px-8">
    <p class="text-sm py-2 text-right">
      {% if site.github != "" %}
        <a href={{ site.github }}>GitHub</a> 
      {% endif %}

      {% if site.linkedin != "" %}
        &middot; <a href={{ site.linkedin }}>LinkedIn</a>
      {% endif %}

      &middot; RSS (<a href="/feed.xml">en</a> / <a href="/feed_pt.xml">pt</a>)
      
      &middot; <a href="mailto:%61%6C%65%78%61%6E%64%72%65%68%74%72%62%40%6F%75%74%6C%6F%6F%6B%2E%63%6F%6D" target="_blank">E-mail</a>

    </p>
  </div>
</footer>